<nav class="navigation">
  <ul class="ul-navigation">
    <li>
      <button type="button" class="btn btn-info" (click)="changeQuery($event)" id="0">Income</button>
    </li>
    <li>
      <button type="button" class="btn btn-info" (click)="changeQuery($event)" id="1">OutCome</button>
    </li>
    <li>
      <button type="button" class="btn btn-info" (click)="changeQuery($event)" id="2">Loans</button>
    </li>
    <li>
      <button type="button" class="btn btn-info" (click)="changeQuery($event)" id="3">Investments</button>
    </li>
  </ul>
</nav>
